

.nav{
  width:100%;
}
.header{
  
}
.item_search{
  background:#aaa;
}
.item_header{
  
}
.server_dd{
  
}
.item_form{
  
}
.wtf_item{
  
}
.item_results{
  
}
.guild_search{
  background:#bbb;
}
.guild_header{
  
}
.guild_form{
  
}
.wtf_guild{
  
}
.guild_results{
  
}